html, body, ul, li, ol, dl, dd, dt, p, h1, h2, h3, h4, h5, h6, form, fieldset, legend, img ,i,input{ margin:0; padding:0; }
fieldset, img { border:none; }
img{display: block;}
address, caption, cite, code, dfn, th, var { font-style:normal; font-weight:normal; }
ul, ol, li { list-style:none; }
body { color:#666; font:12px/12px "微软雅黑","宋体","Arial Narrow",HELVETICA; background:#fff;/* overflow-y:scroll;*/ overflow-x:hidden;}
a { color:#666; text-decoration:none; }


#header,#top{width:1210px;margin:0 auto;}

/*header*/
#headerwrap{background: #f2f2f2;border-bottom: 1px solid #e5e5e5;z-index: 1;}
#header{height: 32px;width: 1220px;}
.header-position{width: 10px;height: 14px;background: url(../img/curcity.png) no-repeat -6px -4px;display: block;margin: 10px 0 0 3px;float:left;}
.header-city{width: 38px;height: 22px;background: #ff3300;float:left;margin: 5px 0 0 8px;text-align: center;line-height: 22px;color:#fff;position: relative;z-index: 10;cursor:pointer;}
/*城市列表*/
.citylist{width: 220px;height: 332px;position: absolute;top:22px;left:0;background:#fff;z-index: 10;border:1px solid #ccc;display: none;}
.citylist .citylisttit{color:#333;width: 198px;margin:0 auto;text-align: left;border-bottom:1px solid #ddd;height: 20px;padding-top: 20px;line-height: 12px;}
.cityitem{padding-top: 12px;}
.cityitem li{margin:0 auto;width: 198px;height: 19px;margin-bottom: 10px;}
.cityitem li a{color:#333;text-align: left;margin:0 auto;line-height: 12px;float:left;padding:2px;}
.cityitem li a:hover{color:#fff;background:#ff3300;}
.cityitem li span{background: url(../img/change_city3.gif) no-repeat left top;width: 21px;height: 19px;color:#fff;float:left;}

.header-switch{margin:10px 0 0 12px;float:left;line-height: 12px;}
.header-switch:hover{text-decoration: underline;color:#e31939;}
.header-welcome{margin-left: 55px;float:left;margin-top: 10px;line-height: 12px;}
.header-welcome a{margin-left:12px;}
.header-welcome a:hover{text-decoration: underline;color:#e31939;}
.header-myinfo{float:left;margin-left: 260px;line-height: 32px;width: 74px;text-indent: 10px;height:32px;position: relative;z-index: 2;cursor:pointer;}
.header-myinfo span{width: 7px;height: 4px;background: url(../img/site-bg.png) no-repeat 0 -4px;display:block;position: absolute;top:14px;right:4px;font-size: 0;}
.header-myinfo:hover{text-decoration: underline;color:#e31939;background: #fff;border-left:1px solid #eee;border-right: 1px solid #eee;border-bottom: 1px solid #fff;width: 72px;}
.header-myinfo:hover span{background: #fff url(../img/site-bg.png) no-repeat 0 -14px;}
/*我的信息下拉*/
.myinfo-list{width: 94px;height: 44px;padding-top:12px;position: absolute;top:33px;left: 0;background:#fff;border:1px solid #eee;border-top:0;display: none;}
.myinfo-list a{display: block;line-height: 12px;margin-bottom: 8px;}
.myinfo-list a:hover{color:#c40303;text-decoration: underline;}

.header-myfav{float:left;margin-left: 18px;line-height: 32px;color:#e31939;text-indent:15px;position: relative;}
.header-myfav i{width: 12px;height: 10px;background: url(../img/user_header.png) no-repeat -293px -26px;display:block;position: absolute;left:0;top:11px;}
.header-myfav:hover{text-decoration: underline;}
.header-shopcar{float:left;line-height: 32px;margin-left: 21px;text-indent:18px;position: relative;color:#e31939;}
.header-shopcar i{width: 12px;height: 11px;display: block;position: absolute;left:0;top:11px;background: url(../img/user_header.png) no-repeat -295px -4px;}
.header-shopcar:hover{text-decoration: underline;}
.header-collect{width: 62px;float:left;margin-left:11px;line-height: 32px;position: relative;text-indent: 9px;cursor:pointer;}
.header-collect i{width: 7px;height: 4px;background: url(../img/site-bg.png) no-repeat 0 -4px;display:block;position: absolute;right:4px;top:14px;font-size: 0;}
.header-collect:hover{background: #fff;border-left:1px solid #eee;border-right: 1px solid #eee;border-bottom: 1px solid #fff;text-decoration: underline;color:#e31939;width: 60px;}
.header-collect:hover i{background: #fff url(../img/site-bg.png) no-repeat 0 -14px;}
/*收藏夹*/
.collectitem{width: 82px;height: 44px;padding-top:12px;background:#fff;position: absolute;top:33px;left:0;border:1px solid #eee;border-top:0;display:none;}
.collectitem a{display: block;line-height: 12px;margin-bottom: 8px;}
.collectitem a:hover{color:#c40303;text-decoration: underline;}


.header-line{float:left;margin-left:5px;margin-right: 2px;line-height: 32px;width: 2px;text-align: center;}
.header-mobile{width: 77px;float: left;line-height: 32px;text-indent: 22px;position: relative;z-index: 9;cursor: pointer;}
.header-mobile i{width: 7px;height: 4px;background: url(../img/site-bg.png) no-repeat 0 -4px;display:block;position: absolute;right:5px;top:14px;font-size: 0;}
.header-mobile span{width: 9px;height: 12px;position: absolute;left:9px;top:11px;background: url(../img/user_header.png) no-repeat -364px -4px;}
.header-mobile:hover{background: #fff;color:#e31939;text-decoration: underline;border-left:1px solid #eee;border-right: 1px solid #eee;border-bottom: 1px solid #fff;width: 75px;}
.header-mobile:hover i{background: url(../img/site-bg.png) no-repeat 0 -14px;}
/*app*/
.app{width: 150px;height: 150px;display:block;border:1px solid #eee;border-top:0;position: absolute;top:33px;left:0;background:#fff;z-index: 9;padding:10px;display: none;}
.app img{width: 150px;height: 150px;}

.header-seller{width: 74px;float: left;line-height: 32px;text-indent: 10px;position: relative;z-index: 10;}
.header-seller i{width: 7px;height: 4px;background: url(../img/site-bg.png) no-repeat 0 -4px;display:block;position: absolute;right:5px;top:14px;font-size: 0;}
.header-seller:hover{background: #fff;color:#e31939;text-decoration: underline;border-left:1px solid #eee;border-right: 1px solid #eee;border-bottom: 1px solid #fff;width: 72px;}
.header-seller:hover h5{text-decoration: none;}
.header-seller:hover h6{text-decoration: none;}
.header-seller:hover i{background: url(../img/site-bg.png) no-repeat 0 -14px;}
/*sellerhelp*/
.sellerhelp{width: 142px;height: 197px;border:1px solid #eee;border-top:0;position: absolute;top:33px;right:0;background:#fff;z-index: 10;display: none;}
.sellerhelp h5{text-indent:10px;color:#676767;height: 26px;font-size: 12px;}
.sellerhelp h6{text-indent:10px;color:#676767;height: 26px;font-size: 12px;}
.sellerhelp p{width: 122px;margin:0 auto;color:#676767;height: 110px;border-bottom: 1px dashed #676767;line-height: 12px;}
.sellerhelp .p2{height: 22px;}
.sellerhelp p a{width: 61px;color:#676767;margin-bottom: 9px;line-height: 12px;float:left;text-indent:0;}
.sellerhelp p a:hover{color:#c40303;text-decoration: underline;}


.header-nav{float:left;line-height: 32px;text-align:center;position: relative;width: 80px;z-index: 9;}
.header-nav i{width: 10px;height: 11px;position: absolute;left:4px;top: 10px;background: url(../img/user_header.png) no-repeat -294px -43px;}
.header-nav span{width: 7px;height: 4px;background: url(../img/site-bg.png) no-repeat 0 -4px;display:block;position: absolute;right:3px;top:14px;font-size: 0;}
.header-nav:hover{background: #fff;width: 78px;border-left:1px solid #eee;border-right: 1px solid #eee;border-bottom: 1px solid #fff;}
.header-nav:hover span{background: url(../img/site-bg.png) no-repeat 0 -14px;}
/*nav menu*/
.navmenu{height: 111px;padding-top:25px;background: #fff;position: absolute;top:33px;right:0;width: 1208px;border:1px solid #eee;border-top:0;display:none;}
.menuleft{width: 410px;height: 86px;border-right:1px solid #eee;float:left;padding-left: 30px;}
.menumid{width: 370px;height: 86px;border-right:1px solid #eee;float:left;padding-left: 30px;}
.menuright{height: 56px;float:left;width: 240px;height: 28px;padding-left: 30px;}
.menulefttit{text-align: left;color:#f56b03;width: 410px;font-size:14px;}
.menuleftlist a{float:left;width: 80px;text-align: left;color:#666665;height: 28px;line-height: 22px;}
.menuleftlist a:hover{color:#f56b03;text-decoration: underline;}
.menumidtit{color:#2464d4;}
.menumidlist a:hover{color:#2464d4;}
.menurighttit{color:#030303;}
.menurightlist a:hover{color:#030303;}
/*banner上的导航*/
.navallwrap{position: relative;height: 37px;float:left;z-index: 9;}
.navallwrap .bannerlisthide{position: absolute;left:0;top:37px;background: #fff;display: none;}
.bannerlistleftside{width: 5px;height: 66px;position: absolute;left:-20px;top:0;display: none;background:url(../img/nav.png) no-repeat left top;opacity: 0.7;filter:alpha(opacity=70);}
/*banner上的导航结束*/

/*top*/
#top{height: 120px;}
#logo{padding-top: 5px;float:left;}
.top-search{width: 540px;float:left;margin-left: 96px;padding-top: 20px;}
.top-search-tabcontainer{width:100%;height: 25px;}
.top-search-tabcontainer .top-search-active:hover{background: #e31939;color:#fff;}
.top-search-tabcontainer a:hover{background: #f9e6e6;color:#c60000;}
.top-search-tab{width: 50px;height: 25px;color:#666;text-align: center;line-height: 25px;display: inline-block;}
.top-search-active{background: #e31939;color:#fff;}
.top-search-txt{width: 442px;height: 32px;border:3px solid #e31939;padding-left: 5px;float: left;outline: none;line-height: 32px;}
.top-search-btn{width: 86px;height: 38px;background: #e31939;border: 0;float:left;padding:0;color:#fff;font-size:16px;outline: none;}
.top-search-txtcontainer{width: 540px;height: 40px;position: relative;z-index: 8;;}
/*搜索热词*/
.hotword{width: 450px;position: absolute;left:0;top:38px;background: #fff;border:1px solid #ddd;display: none;}
.hotword ul{padding-left: 5px;}
.hotword ul li{line-height: 24px;color:#666;}
.top-search-tips{padding-top: 9px;}
.top-search-tips li{float:left;}
.top-search-tips .active{margin:0 12px 0 16px;}
.top-link{width: 200px;height: 80px;float: right;background: url(../img/user_header_right.png) no-repeat center;margin-top: 20px;}
.top-link .top-link-a{width: 33%;height: 80px;float:left;text-indent:-9999px;}


/**fixed*/
#index-fixed{width: 35px;height: 100%;background:#333;position: fixed;right:0;top:0;z-index: 999;}
.head{width: 35px;height: 35px;margin:119px auto 0;position: relative;margin-bottom: 33px;}
/*登录*/
.login{width: 235px;height: 215px;background:#fff;border:1px solid #e4e4e4;position: absolute;left:-270px;top:0;padding-left: 25px;padding-top: 25px;display: none;}
.icon{width: 8px;height: 16px;background:url(../img/icon.jpg) no-repeat left top;position: absolute;right:-8px;top:16px;}
.cover{width: 10px;height: 100%;position: absolute;right:-10px;top:0;}

.login-top{height: 24px;}
.index-login h6{width: 48px;float:left;border-bottom: 2px solid #e31939;font-size: 15px;color:#e31939;line-height: 20px;height: 22px;}
.index-login span{float:left;margin-left:32px;line-height:20px;color:#666;}
.index-login a{width: 58px;height: 20px;float:left;background:#e31939;color:#fff;text-align: center;line-height:20px;}
.login-txtwrap{height: 27px;width: 209px;margin-top: 18px;}
.login-txtwrap span{line-height: 27px;padding-left: 5px;width: 47px;margin:0;}
.login-txt{width: 155px;height: 25px;border:1px solid #ddd;float:left;}
.login-passwrap{height: 27px;width: 209px;margin-top: 13px;}
.login-passwrap span{line-height: 27px;padding-left: 5px;width: 47px;margin:0;}
.login-pass{width: 155px;height: 25px;border:1px solid #ddd;float:left;}
.login-sel{width: 209px;height: 12px;margin:22px 0 19px 0;}
.login-sel input{width: 10px;height: 10px;float:left;}
.login-sel span{margin-left: 5px;line-height: 12px;}
.login-sel a{margin-left: 79px;color:#e31939;background:0;width: auto;line-height: 12px;}
.index-sub{width: 210px;height: 30px;background:#e31939;color:#fff;text-align: center;line-height: 30px;border:0;}
.saleo2o{height: 38px;background:#c40000;color:#fff;text-align: center;line-height: 16px;padding-top: 7px;position: relative;}
/*在线销售*/
.o2o{width: 130px;height: 122px;background:#fff;border:1px solid #e4e4e4;position: absolute;left:-180px;top:0;padding:20px 20px 0 20px;display: none;}
.o2o h6{text-align: center;color:#6f6f6f;height: 30px;font-size: 12px;}
.o2o img{float:left;margin-right: 14px;width: 25px;}
.o2otop{height: 33px;border-bottom: 1px solid #ededed;line-height: 28px;text-align:left;color:#000;}
.o2obottom{padding-top: 8px;line-height: 24px;text-align:left;color:#000;}

.research{height: 38px;margin-top: 26px;color:#fff;text-align: center;position: relative;overflow: hidden;}
.research i{width: 16px;height: 16px;margin:0 auto 8px;display:block;background:url(../img/site_bar.png) no-repeat -8px -9px;}
/*调查*/
.researchtest{width: 160px;height: 114px;background:#fff;border:1px solid #e4e4e4;position: absolute;left:-180px;top:0;color:#898989;padding:24px 0 0 10px;text-align: left;display: none;}
.before{position: absolute;left:0;top:0;height: 100%;width: 100%;}
.after{background:#c40000;height: 100%;width: 100%;color:#fff;position: absolute;left:0;top:38px;text-align: center;line-height: 16px;padding-top: 5px;}

.shopcar{height: 124px;margin-top: 17px;color:#fff;position: relative;padding-top: 11px;}
.shopcar i{width: 17px;height: 17px;display:block;background:url(../img/site_bar.png) no-repeat -8px -45px;margin:0px auto 14px;}
.shopcar p{width: 16px;line-height:18px;margin:0 auto 10px;}
.shopcar span{text-align: center;width: 35px;display: block;}
.shopcar:hover{background:#c40000;}
/*购物车*/
.shopcaritem{width: 320px;min-height: 134px;height:auto!important;height: 134px;background:#fff;border:1px solid #e4e4e4;position: absolute;left:-330px;top:0;text-align: left;display: none;}
.shopcaritem:after{content:'.';height:0;display: block;clear:both;overflow: hidden;visibility: hidden;}
.isgoods{width: 300px;height: 50px;margin:0 auto;border-bottom: 1px solid #f2f2f2;}
.isgoods div{width: 202px;line-height: 50px;float:left;height: 50px;float:left;color:#666;}
.isgoods div span{color:#e31939;display:inline;}
.shopcaritem .isgoods a{width: 98px;height: 30px;float:left;background:#ff6400;line-height: 30px;color:#fff;margin:0;margin-top: 10px;text-align: center;}
.shopcaritem .isgoods a:hover{color:#E65C00;text-decoration: underline;color:#fff;}
.shopcaritem ul{height: 343px;overflow: auto;margin-top: 10px;}
.shopcaritem li{height: 78px;margin:5px auto;border-bottom: 1px solid #f2f2f2;width: 300px;}
.shopcaritem li i{width: 24px;height: 24px;line-height: 24px;text-align: center;font-size: 16px;font-style: normal;float:left;color:#666;cursor:pointer;}
.shopcaritem li i:hover{background: #333;color:#fff;}
.shopcaritem li a{width: 276px;height: 78px;float: left;padding:0;margin:0;}
.shopcaritem li a:hover h4{color:#e31939;}
.shopcaritem li a span{float:left;}
.shopcaritem li a h4{font-size: 13px;line-height: 15px;font-weight: 400;margin: 5px 0 5px;width: 150px;height: 30px;float: left;width: 206px;color:#666;}
.shopcaritem li a img{width: 70px;height: 70px;float: left;}
.shopcaritem a{color:#898989;display: block;margin:53px 0 0 52px;}
.shopcaritem a:hover{text-decoration: underline;color:#f94747;}

/*关注收藏*/
.look,.collect,.code{height: 45px;margin-top: 22px;color:#fff;text-align: center;position: relative;}
.look,.collect{overflow: hidden;}
.look i{width: 18px;height: 16px;margin:5px auto 9px;display:block;background:url(../img/site_bar.png) no-repeat -8px -80px;}
.collect i{width: 18px;height: 18px;display:block;background:url(../img/site_bar.png) no-repeat -8px -114px;margin:5px auto 8px;}
.code i{width: 16px;height: 16px;display:block;background:url(../img/site_bar.png) no-repeat -9px -150px;margin:15px auto 0;}
/*二维码*/
.code .wrap{overflow: hidden;height: 45px;width: 35px;position: relative;}
.codeitem{width: 160px;height: 138px;background:#fff;border:1px solid #e4e4e4;position: absolute;left:-210px;top:-77px;padding:20px;color:#666;display:none;}
.codeitem img{margin:0 auto 17px;}
/*to top*/
.totop{height: 45px;width: 35px;position: absolute;bottom:-45px;right:0;overflow: hidden;}
.totop i{width: 17px;height: 14px;display: block;background:url(../img/site_bar.png) no-repeat -9px -185px;margin:11px auto;}
.icon2{top:85px;}
.after2{top:45px;}
.after3{top:50px;}
.hide{display: none;}

