

#shopcarthead,#shopcartwrap,#groom{width: 992px;margin:0 auto;}


/*头部*/
#shopcarthead{height: 140px;}
#shopcartlogo{padding-top: 25px;float:left;height: 115px;width: 292px;}
.step{float:left;padding-top: 23px;}
.step p{font-weight: 900;color:#fff;background:url(../img/shopcart/bg.png) no-repeat -297px -102px;height: 34px;margin-top: 7px;line-height: 34px;}
.step1,.step2,.step3,.step4,.step5{width: 140px;height: 58px;float:left;text-align: center;}
.step1 p{background-position:-297px -204px;}
.step5 p{background-position:-297px -136px;}

/*main  container*/
#shopcartcontainer{min-height: 927px;height:auto!important;height:927px;background:#f9f9f9;}
#shopcartcontainer:after{content:'.';display: block;height:0;clear:both;overflow: hidden;visibility: hidden;}

/*shopcart*/
#shopcartwrap{padding-top: 15px;}
.shopcartgoodswrap{width: 990px;height: 112px;}
.shopcart{border:1px solid #ddd;}
.shopcarttit{height: 35px;border-bottom: 2px solid #d9d9d9;}
.shopcarttit li{float:left;text-align: center;line-height: 35px;}
.shopcarttit .shopcarttitlist1{width: 80px;text-align: left;}
.shopcarttitlist1 input{width: 12px;height: 12px;margin:12px 5px 0 20px;float:left;}
.shopcarttitlist2{width: 367px;}
.shopcarttitlist3{width: 148px;}
.shopcarttitlist4{width: 148px;}
.shopcarttitlist5{width: 148px;}
.shopcarttitlist6{width: 99px;}
.shopcartgoods{border-top: 1px solid #ddd;border-bottom: 1px solid #ddd;min-height: 145px;height:auto!important;height:145px;background:#fff;}
.shopcartstroe{color:#ff0000;line-height: 33px;height: 33px;background: #fafafa;text-indent: 19px;}
.shopcartgoodsinfo{width: 990px;height: 112px;}
.shopcartgoodswrap .shopcartgoodsinfo li{float:left;height: 100%;}
.shopcartgoodsinfo1{width: 5%;}
.shopcartgoodsinfo2{width: 40%;}
.shopcartgoodsinfo3{width: 15%;text-align: center;line-height:112px;}
.shopcartgoodsinfo4{width: 15%;}
.shopcartgoodsinfo5{width: 15%;}
.shopcartgoodsinfo6{width: 10%;}
.shopcartgoodsinfo1 input{width: 12px;height: 12px;margin:49px 0 0 19px;float:left;}
.shopcartgoodsinfo2 dl{padding-top: 19px;}
.shopcartgoodsinfo2 dt{float:left;margin-left: 30px;}
.shopcartgoodsinfo2 dt img{width: 60px;height: 60px;}
.shopcartgoodsinfo2 dd{float:left;margin-left: 20px;width: 244px;}
.shopcartgoodsinfo2 dd p{line-height: 18px;}
.shopcartgoodsinfo2 dd p a:hover{text-decoration: underline;color:#e31939;}
.shopcartgoodsinfo2 dd span{display: block;line-height: 18px;color:#bbb;}

.shopcartgoodsinfo4,.shopcartgoodsinfo5{color:#e31939;font-weight: 900;text-align: center;line-height: 112px;}
.shopcartgoodsinfo6{text-align: center;line-height: 112px;}
.shopcartgoodsinfo6 a:hover{text-decoration: underline;}
.pay{height: 64px;background: #fff;}
.continue{width: 140px;height: 40px;border:1px solid #d9d9d9;background: #fafafa;float:left;text-align:center;line-height: 40px;font-size:13px;margin: 11px 26px 0 26px;}
.continue:hover{background: #f5f5f5;}
.clearall{float:left;margin-top:26px;color:#bbb;}
.clearall:hover{text-decoration: underline;}
.priceinfo{float:left;margin-top: 24px;margin-left: 213px;}
.totalprice{color:#e31939;font-size: 16px;font-weight: 900;}
.gotopay{width: 150px;height: 40px;background: #e31939;font-size: 17px;color:#fff;float:left;margin:12px 0 0 26px;border:0;}

/*groom 推荐*/
#groom{height: 650px;border:1px solid #ddd;width: 990px;margin-top: 10px;background: #fff;}
.groomtablist{height: 36px;background: #f1f1f1;}
.groomtablist .active{color:#e31939;border:1px solid #ddd;border-bottom: 1px solid #fff;background: #fff;}
.nonebefore{width: 40px;float:left;border-bottom: 1px solid #ddd;height: 35px;}
.groomitem{width: 112px;height: 30px;border:1px solid #f1f1f1;border-bottom:1px solid #ddd;float:left;text-align: center;line-height: 30px;margin-top: 4px;}
.noneafter{width: 362px;height: 35px;border-bottom: 1px solid #ddd;float:left;}
.nonecenter{width: 20px;border-bottom: 1px solid #ddd;height: 35px;float:left;}
.goodsgroom{padding-top: 30px;}
.goodsgroom li{float:left;width: 160px;height: 257px;margin:20px 0 0 31px;position: relative;}
.goodsgroom li img{width: 150px;margin:auto;}
.goods-info{line-height: 18px;margin-top: 12px;}
.goods-info a:hover{color:#ff3300;text-decoration: underline;}
.old-price{color:#999;text-decoration: line-through;font-size: 9px;margin-top:8px;}
.new-price{color:#e31939;font-size: 14px;margin-top: 9px;}
.buy{position: absolute;right:0;bottom:12px;background:url(../img/index.png) no-repeat -1px -1px;width: 28px;height: 28px;display: block;}
